<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=David+Libre|Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'movie/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="mainpage">
    {% include 'movie/includes/navbar.html' %}

    <div class="infoBody">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>