{% extends 'movie/base.html' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="addNewMovie">
        <a class="btn btn-default" href="{% url 'movie:add' %}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add new movie
        </a>
    </div>
    <div class="movieList">
        {% if all_movies %}
            {% for movie in all_movies %}
                <div class="movieElement">
                    <a href="{% url 'movie:detail' movie.id %}">
                        <img src="{{ movie.poster.url }}" class="poster">
                        <div class="caption">
                            <h3>{{ movie.original_title }}</h3>
                            <p>{{ movie.seen_for_the_first_time }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% include "movie/includes/pagination.html" %}
        {% endif %}
    </div>
{% endblock %}